<article class="product-rating">

  <div class="row">
    <% @product.reviews.reverse.each do | review | %>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= review.user.first_name %></dd>
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          <dt>Rating</dt>
          <dd><%= review.rating %></dd>
        </dl>
      </div>
    <% end %>
  </div>

</article>